---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;


//$base-color:       #828282;
//$base-color-light: lighten($base-color, 20%);
//$base-color-dark:  darken($base-color, 25%);

$base-color:       #415C7F;
$base-color-light: #415C7F;
$base-color-dark:  darken($base-color, 25%);
$base-color-font-light: lighten($base-color, 80%);
$base-color-font-middle: lighten($base-color, 40%);

$text-color:       darken($base-color, 10%);
$background-color: lighten($base-color, 60%);


// Width of the content area
$content-width:    1000px;

$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;

/* date */
.post .date{
    color:$base-color;
    font-style:italic;
}

#related {
    margin-top: 2em;
}

#related h2 {
    margin-bottom: 1em;
}

#related ul, ol {
  margin-left: 10px;
}

.related_left {
    float:left;
    width:45%;
}

.related_right {
    float:right;
}

.view_comments_link {
    font-size:12px;
    text-align:right;
    margin-top:10px;
}

/* Display last.fm chart */
#lastfm_chart {
    position:fixed;
    bottom:10px;
    right:10px;
    z-index:1000;
}

#twitter_follow {
    position:fixed;
    top:1%;
    left:2%;
    z-index:1000;
}

.post {
  margin-bottom: 50px;
}

ul.posts {
  list-style-type: none;
}

ul.posts span {
    color: #aaa;
    font-family: Monaco, "Courier New", monospace;
    font-size: 80%;
}

.view_comments_link {
    font-size:12px;
    text-align:right;
    margin-top:10px;
}

#documentation {
    //float: right;
}

.doc-navigation {
    float: right;
    padding: 10px;
    background-color:$base-color-light;
    margin: 20px;
    .page-link {
        color: $base-color-font-light;
    }
    
    li {
        color: $base-color-font-light;
    }
}

#quick-presentation {
    font-size: 120%;
    background-color:$base-color-light;
    padding: 15px;
    padding-left: 100px;
    margin-bottom: 30px;
    color: $base-color-font-light;
    .page-link {
        color: $base-color-font-middle;
    }
    ul {
        color: $base-color-font-light;
        //list-style: none;
    }
}

hr {
  margin-bottom: 20px;
}

@media screen and (min-width: 0px) and (max-width: 900px) {
    #lastfm_chart { display: none; }  /* show it on small screens */
    #twitter_follow {display: none; }
}
