<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.caustic.lasertag.ui">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".StartActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BluetoothDevicesListActivity"
            android:label="@string/title_activity_bluetooth_devices_list"
            android:parentActivityName=".StartActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".StartActivity" />
        </activity>
        <activity
            android:name=".DevicesListActivity"
            android:label="@string/title_activity_caustic_devices_list"
            android:parentActivityName=".MainControlsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".StartActivity" />
        </activity>
        <activity
            android:name=".DeviceSettingsActivity"
            android:label="@string/title_activity_device_settings"
            android:parentActivityName=".DevicesListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ru.caustic.lasertag.ui.DevicesListActivity" />
        </activity>
        <activity
            android:name=".SimpleControlsActivity"
            android:label="@string/title_activity_simple_controls"
            android:parentActivityName=".StartActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".StartActivity" />
        </activity>
        <activity
            android:name=".MainControlsActivity"
            android:label="@string/title_activity_main_controls" />
        <activity android:name=".GameStatsActivity"></activity>
    </application>

</manifest>