<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.caustic.lasertag.ui" >

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="ru.caustic.lasertag.ui.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ru.caustic.lasertag.ui.BluetoothDevicesList"
            android:label="@string/title_activity_bluetooth_devices_list"
            android:parentActivityName="ru.caustic.lasertag.ui.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ru.caustic.lasertag.ui.MainActivity" />
        </activity>
        <activity
            android:name=".CausticDevicesList"
            android:label="@string/title_activity_caustic_devices_list"
            android:parentActivityName="ru.caustic.lasertag.ui.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ru.caustic.lasertag.ui.MainActivity" />
        </activity>

        <service
            android:name="ru.caustic.lasertag.ui.CausticConnectorService"
            android:enabled="true"
            android:exported="true" >
        </service>

        <activity
            android:name="ru.caustic.lasertag.ui.CausticDeviceSettings"
            android:label="@string/title_activity_caustic_device_settings"
            android:parentActivityName=".CausticDevicesList" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ru.caustic.lasertag.ui.CausticDevicesList" />
        </activity>
        <activity
            android:name="ru.caustic.lasertag.ui.CausticDeviceSettingActivity"
            android:label="@string/title_activity_caustic_device_setting"
            android:parentActivityName=".CausticDevicesList" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ru.caustic.lasertag.ui.CausticDevicesList" />
        </activity>
        <activity
            android:name="ru.caustic.lasertag.ui.DevicesListActivity"
            android:label="@string/title_activity_caustic_devices_list"
            android:parentActivityName="ru.caustic.lasertag.ui.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ru.caustic.lasertag.ui.MainActivity" />
        </activity>
        <activity
            android:name="ru.caustic.lasertag.ui.DeviceSettingsActivity"
            android:label="@string/title_activity_device_settings"
            android:parentActivityName="ru.caustic.lasertag.ui.DevicesListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ru.caustic.lasertag.ui.DevicesListActivity" />
        </activity>
        <activity
            android:name="ru.caustic.lasertag.ui.SimpleControlsActivity"
            android:label="@string/title_activity_simple_controls"
            android:parentActivityName="ru.caustic.lasertag.ui.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ru.caustic.lasertag.ui.MainActivity" />
        </activity>
    </application>

</manifest>
